.custom-text {
  line-height: 1.5;
  margin: 0;

  &--size-xs {
    font-size: 0.75rem;
  }
  &--size-sm {
    font-size: 0.875rem;
  }
  &--size-md {
    font-size: 1rem;
  }
  &--size-lg {
    font-size: 1.125rem;
  }
  &--size-xl {
    font-size: 1.25rem;
  }

  &--bold-light {
    font-weight: 300;
  }
  &--bold-normal {
    font-weight: 400;
  }
  &--bold-medium {
    font-weight: 500;
  }
  &--bold-semibold {
    font-weight: 600;
  }
  &--bold-bold {
    font-weight: 700;
  }
  &--bold-extrabold {
    font-weight: 800;
  }

  &--align-left {
    text-align: left;
  }
  &--align-center {
    text-align: center;
  }
  &--align-right {
    text-align: right;
  }
  &--align-justify {
    text-align: justify;
  }

  &--as-p {
  }
}
