.product-purchase-details {
  margin-top: 20px;
  padding-bottom: 20px;
  font-family: Arial, sans-serif;

  &__original-price {
    font-size: 0.9em;
    color: #777;
    text-decoration: line-through;
    margin: 0;
  }

  &__current-price-row {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__current-price {
    font-size: 2.2em;
    font-weight: 300;
    color: #333;
    margin: 0;
  }

  &__discount-percentage {
    font-size: 1.1em;
    color: #00a650;
    font-weight: 400;
  }

  &__installments {
    font-size: 0.9em;
    color: #00a650;
    margin: 0;
    margin-bottom: 5px;
  }

  &__installments-amount {
    font-weight: normal;
    color: #00a650;

    &--value {
      font-weight: bold;
    }
  }

  &__tc-agreement {
    font-size: 0.85em;
    color: #666;
    margin-bottom: 5px;

    &__text {
      display: inline;
      margin-right: 5px;
      padding: 6px;
      border-radius: 4px;
      background-color: #4189e633;
      color: #3483fa;
      font-size: 0.85em;
      font-weight: bold;
    }
  }

  @media (max-width: 1024px) {
    margin-top: 15px;
    padding-bottom: 15px;

    &__original-price {
      font-size: 0.85em;
    }

    &__current-price {
      font-size: 1.8em;
    }

    &__discount-percentage {
      font-size: 1em;
    }

    &__installments {
      font-size: 0.85em;
    }
  }
}
