// src/features/product-detail/assets/styles/ProductDetailPage.scss

.product-detail-page {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    font-family: Arial, sans-serif;
    color: #333;
  
    .product-detail-error {
      color: #d32f2f; // Rojo para errores
    }

    .product-breadcrumbs-actions-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0px;
      margin: 0 auto;
    }
  
    .product-content-wrapper {
      display: flex;
      flex-wrap: wrap; // Permite que los elementos se envuelvan en pantallas pequeñas
      gap: 30px; // Espacio entre las secciones de imágenes e información
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    }
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .product-detail-page {
      padding: 0 15px;
    }
  
    .product-content-wrapper {
      flex-direction: column; // Stack elements vertically on small screens
    }
  }