.custom-button {
  border: none;
  border-radius: 6px;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;
  &--type-primary {
    background-color: #3483fa;
    color: white;

    &:hover {
      background-color: adjust(#3483fa, 8%);
    }

    &:disabled {
      background-color: adjust(#3483fa, 15%);
      cursor: not-allowed;
    }
  }
  &--type-secondary {
    background-color: #4189e626;
    color: #3483fa;

    &:hover {
      background-color: #f0f8ff;
      border-color: adjust(#3483fa, 8%);
    }

    &:disabled {
      color: adjust(#3483fa, 25%);
      border-color: adjust(#3483fa, 25%);
      background-color: #f8f8f8;
      cursor: not-allowed;
    }
  }
  &--size-sm {
    font-size: 0.875rem;
    padding: 0.6rem 1.2rem;
  }
  &--size-md {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
  }
  &--size-lg {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
  &--full-width {
    width: 100%;
    display: block;
  }
}
